body{
  background: url(https://cdn9.littlethings.com/app/uploads/2014/09/zOwtWFv-600x400.jpg);
}

div{
  background: blue;
  border-color: orange;
  border-width: 10px;
  border-style:dotted;
}


p{
  color: yellow;
}

span{
  background: red;
  color: black;
}
